Repository hytromo/mimosa: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-bundle-setup-action, npm-bundle-cache-action, sync-example-confirmer, go-fmt, go-vet, go-lint

npm-bundle-setup-action:
  name: Run npm bundle in gh/setup-action
  entry: bash -c 'cd gh/setup-action && mise exec -- npm run bundle'
  language: system

npm-bundle-cache-action:
  name: Run npm bundle in gh/cache-action
  entry: bash -c 'cd gh/cache-action && mise exec -- npm run bundle'
  language: system

sync-example-confirmer:
  name: Sync the real confirmer to the example
  entry: mise exec -- node scripts/sync-example-confirmer-to-real-example/index.js
  language: system

go-fmt:
  name: Go fmt
  entry: mise exec -- go fmt ./...
  language: system
  pass_filenames: false

go-vet:
  name: Go vet
  entry: mise exec -- go vet ./...
  language: system
  pass_filenames: false

go-lint:
  name: Go lint
  entry: mise exec -- golangci-lint run --fix
  language: system
  pass_filenames: false

Migrate to slog
  go.mod
  go.sum
  internal/cacher/cacher.go
  internal/cacher/memory.go
  internal/docker/file_resolution/file_resolution.go
  internal/docker/parse_bake.go
  internal/docker/parse_build.go
  internal/docker/retag.go
  internal/hasher/bake.go
  internal/hasher/build.go
  internal/hasher/files.go
  internal/hasher/files_test.go
  internal/hasher/strings.go
  internal/logger/init.go
  internal/logger/init_test.go
  internal/orchestration/actions/cache.go
  internal/orchestration/actions/cache_test.go
  internal/orchestration/actions/command.go
  internal/orchestration/orchestrator/remember_forget.go
  internal/utils/fileutil/included_files.go
Due: go-fmt, go-vet, go-lint

python e2e test framework first
  internal/docker/parse_build.go
  pyproject.toml
  tests-e2e-old/1. simple/Dockerfile
  tests-e2e-old/1. simple/test.sh
  tests-e2e-old/2. dockerignore/.dockerignore
  tests-e2e-old/2. dockerignore/Dockerfile
  tests-e2e-old/2. dockerignore/ignored-files/random
  tests-e2e-old/2. dockerignore/test.sh
  tests-e2e-old/3. dockerfile-not-in-context/Dockerfile
  tests-e2e-old/3. dockerfile-not-in-context/ignored-files/.dockerignore
  tests-e2e-old/3. dockerfile-not-in-context/ignored-files/random
  tests-e2e-old/3. dockerfile-not-in-context/test.sh
  tests-e2e-old/4. multiple-docker-ignore/.dockerignore
  tests-e2e-old/4. multiple-docker-ignore/Dockerfile.custom
  tests-e2e-old/4. multiple-docker-ignore/Dockerfile.custom.dockerignore
  tests-e2e-old/4. multiple-docker-ignore/ignored-files/random
  tests-e2e-old/4. multiple-docker-ignore/test.sh
  tests-e2e-old/multiple-build-contexts/backend/.dockerignore
  tests-e2e-old/multiple-build-contexts/backend/credentials.json
  tests-e2e-old/multiple-build-contexts/backend/server.js
  tests-e2e-old/multiple-build-contexts/ctx/.dockerignore
  tests-e2e-old/multiple-build-contexts/ctx/Dockerfile
  tests-e2e-old/multiple-build-contexts/frontend/.dockerignore
  tests-e2e-old/multiple-build-contexts/frontend/app.js
  tests-e2e-old/multiple-build-contexts/frontend/config.js
  tests-e2e/.gitignore
  tests-e2e/.python-version
  tests-e2e/pyproject.toml
  tests-e2e/tests/__init__.py
  tests-e2e/tests/buildx-build.py
  tests-e2e/tests/conftest.py
  tests-e2e/utils/__init__.py
  tests-e2e/utils/directory_tree.py
  tests-e2e/utils/docker_registry.py
  tests-e2e/utils/scaffolder.py
  tests-e2e/utils/test-cases/docker-buildx-build.yaml
  tests-e2e/utils/test_runner.py
  uv.lock
Due: go-fmt, go-vet, go-lint

Passing basic e2e tests
  internal/docker/parse_build.go
  internal/orchestration/orchestrator/remember_forget.go
  tests-e2e/pyproject.toml
  tests-e2e/tests/buildx-build.py
  tests-e2e/tests/conftest.py
  tests-e2e/utils/directory_tree.py
  tests-e2e/utils/docker_registry.py
  tests-e2e/utils/scaffolder.py
  tests-e2e/utils/test-cases/docker-buildx-build.yaml
  tests-e2e/utils/test_runner.py
  uv.lock
Due: go-fmt, go-vet, go-lint

Add ability to override default cache location
  cmd/cache.go
  internal/cacher/cacher.go
  internal/utils/envutil/get_env.go
Due: go-fmt, go-vet, go-lint

Fix bug with dockerfile resolution
  internal/docker/parse_build.go
Due: go-fmt, go-vet, go-lint

Reveal hashes in debug mode
  internal/hasher/build.go
Due: go-fmt, go-vet, go-lint

uv version bump
  mise.toml
Due: none

Parse debug earlier than execution
  cmd/root.go
Due: go-fmt, go-vet, go-lint

Use version flag
  cmd/version.go
Due: go-fmt, go-vet, go-lint

Fix bug with wrong target image name
  internal/docker/retag.go
Due: go-fmt, go-vet, go-lint

Remove e2e tests
  tests-e2e/.gitignore
  tests-e2e/.python-version
  tests-e2e/pyproject.toml
  tests-e2e/tests/__init__.py
  tests-e2e/tests/buildx-build.py
  tests-e2e/tests/conftest.py
  tests-e2e/utils/__init__.py
  tests-e2e/utils/directory_tree.py
  tests-e2e/utils/docker_registry.py
  tests-e2e/utils/scaffolder.py
  tests-e2e/utils/test-cases/docker-buildx-build.yaml
  tests-e2e/utils/test_runner.py
Due: none

Individual file hash in debug output
  internal/hasher/files.go
Due: go-fmt, go-vet, go-lint

Fix mimosa build commands
  .github/workflows/example-confirmer.yml
  .github/workflows/main.yml
  .goreleaser.yml
Due: sync-example-confirmer

Add dist to gitignore
  .gitignore
  .goreleaser.yml
Due: none

Fix outdated param
  gh/cache-action/src/main.ts
Due: npm-bundle-cache-action

Fix e2e tests Fix integrations tests path
  .github/workflows/main.yml
  tests-e2e/multiple-build-contexts/backend/.dockerignore
  tests-e2e/multiple-build-contexts/backend/credentials.json
  tests-e2e/multiple-build-contexts/backend/server.js
  tests-e2e/multiple-build-contexts/ctx/.dockerignore
  tests-e2e/multiple-build-contexts/ctx/Dockerfile
  tests-e2e/multiple-build-contexts/frontend/.dockerignore
  tests-e2e/multiple-build-contexts/frontend/app.js
  tests-e2e/multiple-build-contexts/frontend/config.js
Due: none

Working precommit Tests cleanup
  .github/workflows/example-confirmer.yml
  .github/workflows/main.yml
  cmd/cache.go
  cmd/forget.go
  cmd/remember.go
  docs/gh-actions/example-github-action.yml
  gh/cache-action/dist/index.js
  gh/cache-action/dist/index.js.map
  gh/cache-action/src/main.ts
  internal/cacher/cacher_test.go
  internal/docker/parse_bake_test.go
  internal/docker/parse_build.go
  internal/docker/parse_build_test.go
  internal/docker/republish_test.go
  internal/docker/retag_test.go
  internal/hasher/build_test.go
  internal/orchestration/actions/cache_test.go
  internal/orchestration/actions/docker_test.go
  internal/testutils/docker.go
  internal/testutils/registry.go
  internal/testutils/testutils_test.go
  internal/utils/fileutil/fileutil_test.go
  mise.toml
Due: npm-bundle-cache-action, sync-example-confirmer, go-fmt, go-vet, go-lint

Cleanup registries and builders setup during testing
  .mise-tasks/init
  .mise-tasks/init-test
  .mise-tasks/test
  internal/docker/republish_test.go
  internal/docker/retag_test.go
  internal/orchestration/actions/docker_test.go
  internal/testutils/docker.go
  internal/testutils/registry.go
  internal/testutils/testutils_test.go
  mise.toml
Due: go-fmt, go-vet, go-lint

Embrace mise
  .github/workflows/main.yml
  .mise-tasks/cleanup-tests
  .mise-tasks/e2e-tests
  .mise-tasks/init-go
  .mise-tasks/init-node
  .mise-tasks/init-python
  .mise-tasks/init-tests
  .mise-tasks/install-pre-commit
  .mise-tasks/integration-tests
  .mise-tasks/local-init
  .mise-tasks/unit-tests
  .pre-commit-config.yaml
  go.mod
  tests-integration/docker.py
  tests-integration/run_tests.py
Due: none

Add contributing.md Fix unit tests
  CONTRIBUTING.md
  README.md
  internal/cacher/cacher.go
  internal/cacher/cacher_test.go
Due: go-fmt, go-vet, go-lint

Do not show warnings during getting in memory entries
  internal/cacher/memory.go
Due: go-fmt, go-vet, go-lint

Fix in-memory cache getting
  internal/cacher/cacher.go
Due: go-fmt, go-vet, go-lint

Fix env-variable based caching Export env-variable value to file for better control of output and to allow easier debugging Rename mimosa tasks Sync npm actions
  .github/workflows/example-confirmer.yml
  .mise-tasks/e2e-tests
  .mise-tasks/init/go
  .mise-tasks/init/local
  .mise-tasks/init/node
  .mise-tasks/init/pre-commit
  .mise-tasks/init/python
  .mise-tasks/local-init
  .mise-tasks/tests/cleanup
  .mise-tasks/tests/init
  .mise-tasks/tests/integration
  .mise-tasks/tests/unit
  .pre-commit-config.yaml
  cmd/cache.go
  cmd/flags.go
  cmd/root.go
  docs/gh-actions/example-github-action.yml
  gh/cache-action/dist/index.js
  gh/cache-action/dist/index.js.map
  gh/cache-action/src/main.ts
  internal/cacher/cacher.go
  internal/cacher/cacher_test.go
  internal/cacher/memory.go
  internal/configuration/configstruct.go
  internal/docker/auth.go
  internal/docker/retag.go
  internal/logger/init.go
  internal/logger/init_test.go
  internal/orchestration/actions/actions.go
  internal/orchestration/actions/cache.go
  internal/orchestration/actions/cache_test.go
  internal/orchestration/orchestrator/cache.go
  internal/orchestration/orchestrator/orchestrator_test.go
  tests-integration/command_creator.py
  tests-integration/run_tests.py
  tests-integration/test_setup.py
Due: npm-bundle-cache-action, sync-example-confirmer, go-fmt, go-vet, go-lint

basic fixes
  .github/workflows/main.yml
  CONTRIBUTING.md
Due: none

push through ci issues
  .github/workflows/example-confirmer.yml
  .github/workflows/main.yml
  .gitignore
  dist/artifacts.json
  dist/config.yaml
  dist/metadata.json
  docs/gh-actions/example-github-action.yml
  gh/cache-action/action.yml
  gh/cache-action/dist/index.js
  gh/cache-action/dist/index.js.map
  gh/cache-action/src/main.ts
  tests-integration/dist/config.yaml
  tests-integration/dist/metadata.json
Due: npm-bundle-cache-action, sync-example-confirmer

Fix error messages
  .github/workflows/example-confirmer.yml
  cmd/cache.go
  cmd/forget.go
  cmd/remember.go
  docs/gh-actions/example-github-action.yml
Due: sync-example-confirmer, go-fmt, go-vet, go-lint

Fix workflow spacing
  .github/workflows/example-confirmer.yml
  .github/workflows/main.yml
Due: sync-example-confirmer

Self review 1
  .github/workflows/main.yml
  .mise-tasks/tests/cleanup
  .mise-tasks/tests/init
  CONTRIBUTING.md
  cmd/forget.go
  internal/cacher/cacher.go
  internal/cacher/cacher_test.go
  internal/orchestration/actions/actions.go
  internal/orchestration/actions/cache.go
  internal/orchestration/actions/cache_test.go
  internal/orchestration/orchestrator/cache_forget.go
  internal/orchestration/orchestrator/orchestrator_test.go
Due: go-fmt, go-vet, go-lint

Self review 2
  .github/workflows/main.yml
  README.md
  cmd/remember.go
  cmd/root.go
  dist/artifacts.json
  dist/config.yaml
  dist/metadata.json
  internal/argsparser/argsparser.go
  internal/argsparser/argsparser_test.go
  internal/cacher/cacher.go
  internal/cacher/memory.go
  internal/docker/parse_bake.go
  internal/docker/parse_build.go
  internal/docker/republish.go
  internal/docker/retag.go
  internal/docker/retag_test.go
  internal/hasher/build.go
  internal/logger/init.go
  internal/orchestration/actions/cache.go
  internal/orchestration/actions/command.go
  internal/orchestration/orchestrator/remember_forget.go
  tests-integration/dist/config.yaml
  tests-integration/dist/metadata.json
  tests-integration/docker.py
Due: go-fmt, go-vet, go-lint

Spelling mistakes
  cmd/forget.go
  cmd/remember.go
Due: go-fmt, go-vet, go-lint

More mistakes
  README.md
  cmd/root.go
Due: go-fmt, go-vet, go-lint

Prepare for v2-cache
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: none

Fix setup action
  gh/setup-action/dist/index.js
  gh/setup-action/dist/index.js.map
  gh/setup-action/package.json
  gh/setup-action/src/main.ts
  gh/setup-action/yarn.lock
Due: npm-bundle-setup-action

Bump setup action tag
  README.md
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: none

Use tool cache for setup action (#12)
  README.md
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  gh/setup-action/dist/index.js
  gh/setup-action/dist/index.js.map
  gh/setup-action/package.json
  gh/setup-action/src/main.ts
  gh/setup-action/yarn.lock
  scripts/sync-example-confirmer-to-real-example/index.js
Due: npm-bundle-setup-action

Fix coverage profile upload
  .github/workflows/main.yml
  .mise-tasks/tests/unit
Due: none

Fix coverage profile upload (#13)
  .github/workflows/main.yml
  .mise-tasks/tests/unit
Due: none

Bring build-push-action as is from docker
  .mise-tasks/init/node
  gh/build-push-action/.eslintignore
  gh/build-push-action/.eslintrc.json
  gh/build-push-action/.gitignore
  gh/build-push-action/.prettierignore
  gh/build-push-action/.prettierrc.json
  gh/build-push-action/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  gh/build-push-action/.yarnrc.yml
  gh/build-push-action/LICENSE
  gh/build-push-action/README.md
  gh/build-push-action/action.yml
  gh/build-push-action/jest.config.ts
  gh/build-push-action/package.json
  gh/build-push-action/src/context.ts
  gh/build-push-action/src/main.ts
  gh/build-push-action/src/state-helper.ts
  gh/build-push-action/tsconfig.json
  gh/build-push-action/yarn.lock
Due: none

Path conditions:
  npm-bundle-setup-action: any of: ^gh/setup-action(/src)?/
  npm-bundle-cache-action: any of: ^gh/cache-action(/src)?/
  sync-example-confirmer: any of: ^\.github/workflows/example-confirmer\.yml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-lint: any of: \.go$
