Repository hytromo/mimosa: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-bundle-setup-action, yarn-bundle-cache-action, yarn-build-almost-original-build-push-action, sync-example-confirmer, go-fmt, go-vet, go-lint, go-test

yarn-bundle-setup-action:
  name: Run yarn bundle in gh/setup-action
  entry: bash -c 'cd gh/setup-action && mise exec -- yarn run bundle'
  language: system

yarn-bundle-cache-action:
  name: Run yarn bundle in gh/cache-action
  entry: bash -c 'cd gh/cache-action && mise exec -- yarn run bundle'
  language: system

yarn-build-almost-original-build-push-action:
  name: Run yarn build in gh/.almost-original-build-push-action
  entry: bash -c 'cd gh/.almost-original-build-push-action && mise exec -- yarn run build'
  language: system

sync-example-confirmer:
  name: Sync the real confirmer to the example
  entry: mise exec -- node scripts/sync-example-confirmer-to-real-example/index.js
  language: system

go-fmt:
  name: Go fmt
  entry: mise exec -- go fmt ./...
  language: system
  pass_filenames: false

go-vet:
  name: Go vet
  entry: mise exec -- go vet ./...
  language: system
  pass_filenames: false

go-lint:
  name: Go lint
  entry: mise exec -- golangci-lint run --fix
  language: system
  pass_filenames: false

go-test:
  name: Go test
  entry: mise run tests:unit
  language: system
  pass_filenames: false

Remove duplicate warning log
  internal/orchestration/orchestrator/remember.go
Due: go-fmt, go-vet, go-lint, go-test

Add support for --output
  .github/workflows/main.yml
  internal/docker/parse_build.go
  internal/docker/parse_build_test.go
  internal/orchestration/orchestrator/remember.go
  tests-integration/command_creator.py
  tests-integration/run_tests.py
  tests-integration/test_setup.py
Due: go-fmt, go-vet, go-lint, go-test

Add less patch requirement for codecov
  .github/.codecov.yml
Due: none

Exists and SaveCacheTags improvements
  cmd/remember.go
  internal/cacher/registry.go
Due: go-fmt, go-vet, go-lint, go-test

Completely remove forget subcommand options
  cmd/remember.go
  internal/cacher/registry.go
  internal/configuration/configstruct.go
  internal/configuration/configstruct_test.go
  internal/orchestration/orchestrator/orchestrator_test.go
  internal/orchestration/orchestrator/remember.go
Due: go-fmt, go-vet, go-lint, go-test

Simplify retag
  internal/docker/retag.go
Due: go-fmt, go-vet, go-lint, go-test

Add same-tag for local actions for build-push-action
  gh/build-push-action/action.yaml
Due: none

Retain platform information on retag
  internal/docker/republish.go
  internal/docker/republish_test.go
  internal/docker/retag.go
  internal/docker/retag_test.go
  internal/testutils/docker.go
  tests-e2e/1. simple/test.sh
  tests-e2e/2. dockerignore/test.sh
  tests-e2e/3. dockerfile-not-in-context/test.sh
  tests-e2e/4. multiple-docker-ignore/test.sh
  tests-integration/run_tests.py
Due: go-fmt, go-vet, go-lint, go-test

Ignore test utils for coverage
  .github/.codecov.yml
Due: none

Ignore test utils for coverage (#19)
  .github/.codecov.yml
Due: none

better retag coverage
  internal/docker/retag_test.go
Due: go-fmt, go-vet, go-lint, go-test

Retain platform information on retag (#18)
  internal/docker/republish.go
  internal/docker/republish_test.go
  internal/docker/retag.go
  internal/docker/retag_test.go
  internal/testutils/docker.go
  tests-e2e/1. simple/test.sh
  tests-e2e/2. dockerignore/test.sh
  tests-e2e/3. dockerfile-not-in-context/test.sh
  tests-e2e/4. multiple-docker-ignore/test.sh
  tests-integration/run_tests.py
Due: go-fmt, go-vet, go-lint, go-test

Retagging simplification
  internal/docker/remote.go
  internal/docker/republish.go
  internal/docker/republish_test.go
  internal/docker/retag.go
  internal/docker/retag_test.go
  internal/orchestration/actions/utils.go
  internal/orchestration/actions/utils_test.go
  internal/utils/fileutil/fileutil.go
  internal/utils/fileutil/fileutil_test.go
Due: go-fmt, go-vet, go-lint, go-test

patch coverage nonsense
  .github/.codecov.yml
Due: none

Retagging simplification (#20)
  .github/.codecov.yml
  internal/docker/remote.go
  internal/docker/republish.go
  internal/docker/republish_test.go
  internal/docker/retag.go
  internal/docker/retag_test.go
  internal/orchestration/actions/utils.go
  internal/orchestration/actions/utils_test.go
  internal/utils/fileutil/fileutil.go
  internal/utils/fileutil/fileutil_test.go
Due: go-fmt, go-vet, go-lint, go-test

test from the current branch
  gh/build-push-action/action.yaml
Due: none

Keep build args DRY
  docs/gh-actions/example-github-action.yml
Due: none

Example confirmer with anchors
  .github/workflows/example-confirmer.yml
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: sync-example-confirmer

supported anchors
  .github/workflows/example-confirmer.yml
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: sync-example-confirmer

do not show verification in the example
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: none

Change retag-only phrasing
  cmd/remember.go
Due: go-fmt, go-vet, go-lint, go-test

Fix tag
  gh/build-push-action/action.yaml
Due: none

Upgrade docker build-push action to v7.3.0
  gh/.almost-original-build-push-action/.eslintignore
  gh/.almost-original-build-push-action/.eslintrc.json
  gh/.almost-original-build-push-action/.prettierrc.json
  gh/.almost-original-build-push-action/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  gh/.almost-original-build-push-action/.yarnrc.yml
  gh/.almost-original-build-push-action/README.md
  gh/.almost-original-build-push-action/action.yml
  gh/.almost-original-build-push-action/dist/index.cjs
  gh/.almost-original-build-push-action/dist/index.cjs.map
  gh/.almost-original-build-push-action/dist/index.js
  gh/.almost-original-build-push-action/dist/index.js.map
  gh/.almost-original-build-push-action/dist/licenses.txt
  gh/.almost-original-build-push-action/dist/sourcemap-register.js
  gh/.almost-original-build-push-action/eslint.config.mjs
  gh/.almost-original-build-push-action/jest.config.ts
  gh/.almost-original-build-push-action/package.json
  gh/.almost-original-build-push-action/src/context.ts
  gh/.almost-original-build-push-action/src/main.ts
  gh/.almost-original-build-push-action/src/state-helper.ts
  gh/.almost-original-build-push-action/tsconfig.json
  gh/.almost-original-build-push-action/vitest.config.ts
  gh/.almost-original-build-push-action/yarn.lock
  gh/build-push-action/action.yaml
Due: yarn-build-almost-original-build-push-action

fix unit tests
  internal/testutils/testutils_test.go
Due: go-fmt, go-vet, go-lint, go-test

Upgrade docker build-push action to v7.3.0 (#22)
  gh/.almost-original-build-push-action/.eslintignore
  gh/.almost-original-build-push-action/.eslintrc.json
  gh/.almost-original-build-push-action/.prettierrc.json
  gh/.almost-original-build-push-action/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  gh/.almost-original-build-push-action/.yarnrc.yml
  gh/.almost-original-build-push-action/README.md
  gh/.almost-original-build-push-action/action.yml
  gh/.almost-original-build-push-action/dist/index.cjs
  gh/.almost-original-build-push-action/dist/index.cjs.map
  gh/.almost-original-build-push-action/dist/index.js
  gh/.almost-original-build-push-action/dist/index.js.map
  gh/.almost-original-build-push-action/dist/licenses.txt
  gh/.almost-original-build-push-action/dist/sourcemap-register.js
  gh/.almost-original-build-push-action/eslint.config.mjs
  gh/.almost-original-build-push-action/jest.config.ts
  gh/.almost-original-build-push-action/package.json
  gh/.almost-original-build-push-action/src/context.ts
  gh/.almost-original-build-push-action/src/main.ts
  gh/.almost-original-build-push-action/src/state-helper.ts
  gh/.almost-original-build-push-action/tsconfig.json
  gh/.almost-original-build-push-action/vitest.config.ts
  gh/.almost-original-build-push-action/yarn.lock
  gh/build-push-action/action.yaml
  internal/testutils/testutils_test.go
Due: yarn-build-almost-original-build-push-action, go-fmt, go-vet, go-lint, go-test

Add SECURITY.md
  SECURITY.md
Due: none

Upgrade go version Use own ACR credential helper
  go.mod
  go.sum
  internal/docker/acr.go
  internal/docker/acr_test.go
  internal/docker/auth.go
  internal/docker/file_resolution/file_resolution_test.go
  internal/docker/parse_bake.go
  internal/hasher/bake_test.go
  mise.toml
Due: go-fmt, go-vet, go-lint, go-test

Upgrade go version (#23)
  go.mod
  go.sum
  internal/docker/acr.go
  internal/docker/acr_test.go
  internal/docker/auth.go
  internal/docker/file_resolution/file_resolution_test.go
  internal/docker/parse_bake.go
  internal/hasher/bake_test.go
  mise.toml
Due: go-fmt, go-vet, go-lint, go-test

Path conditions:
  yarn-bundle-setup-action: any of: ^gh/setup-action(/src)?/
  yarn-bundle-cache-action: any of: ^gh/cache-action(/src)?/
  yarn-build-almost-original-build-push-action: any of: ^gh/.almost-original-build-push-action(/src)?/
  sync-example-confirmer: any of: ^\.github/workflows/example-confirmer\.yml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-lint: any of: \.go$
  go-test: any of: \.go$
