Repository hytromo/mimosa: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-bundle-setup-action, npm-bundle-cache-action, sync-example-confirmer, go-fmt, go-vet, go-lint

npm-bundle-setup-action:
  name: Run npm bundle in gh/setup-action
  entry: bash -c 'cd gh/setup-action && mise exec -- npm run bundle'
  language: system

npm-bundle-cache-action:
  name: Run npm bundle in gh/cache-action
  entry: bash -c 'cd gh/cache-action && mise exec -- npm run bundle'
  language: system

sync-example-confirmer:
  name: Sync the real confirmer to the example
  entry: mise exec -- node scripts/sync-example-confirmer-to-real-example/index.js
  language: system

go-fmt:
  name: Go fmt
  entry: mise exec -- go fmt ./...
  language: system
  pass_filenames: false

go-vet:
  name: Go vet
  entry: mise exec -- go vet ./...
  language: system
  pass_filenames: false

go-lint:
  name: Go lint
  entry: mise exec -- golangci-lint run --fix
  language: system
  pass_filenames: false

Ref mimosa cache variable outside
  .github/workflows/example-confirmer.yml
  docs/gh-actions/example-github-action.yml
  gh/build-push-action/action.yaml
Due: sync-example-confirmer

try relative paths
  gh/build-push-action/action.yaml
Due: none

Set value outputs up top
  gh/build-push-action/action.yaml
Due: none

fix context parsing - save cache after build
  docs/gh-actions/example-github-action.yml
  gh/build-push-action/action.yaml
  internal/docker/parse_build.go
  internal/docker/parse_build_test.go
Due: go-fmt, go-vet, go-lint

Use the new mimosa cache value to confirm hit Small log fix
  .github/workflows/example-confirmer.yml
  docs/gh-actions/example-github-action.yml
  internal/cacher/cacher.go
Due: sync-example-confirmer, go-fmt, go-vet, go-lint

More templated flags
  internal/docker/parse_build.go
  internal/docker/parse_build_test.go
Due: go-fmt, go-vet, go-lint

Add more flags
  internal/docker/parse_build.go
Due: go-fmt, go-vet, go-lint

add tests
  internal/docker/parse_build_test.go
Due: go-fmt, go-vet, go-lint

Sync example confirmer duh
  .github/workflows/example-confirmer.yml
  docs/gh-actions/example-github-action.yml
Due: sync-example-confirmer

Simplify example confirmer
  .github/workflows/example-confirmer.yml
  docs/gh-actions/example-github-action.yml
Due: sync-example-confirmer

Print all errors during workflow run
  .github/workflows/example-confirmer.yml
  docs/gh-actions/example-github-action.yml
Due: sync-example-confirmer

Fix example confirmer
  .github/workflows/example-confirmer.yml
  docs/gh-actions/example-github-action.yml
Due: sync-example-confirmer

test missing branch
  internal/docker/parse_build_test.go
Due: go-fmt, go-vet, go-lint

Doc updates
  README.md
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: none

remove top level pkg.json
  package.json
Due: none

Use full context refs
  gh/build-push-action/action.yaml
Due: none

fix latest release fetch
  gh/setup-action/dist/index.js
  gh/setup-action/dist/index.js.map
  gh/setup-action/src/main.ts
Due: npm-bundle-setup-action

more debugging
  gh/setup-action/dist/index.js
  gh/setup-action/dist/index.js.map
  gh/setup-action/src/main.ts
Due: npm-bundle-setup-action

at current branch
  gh/build-push-action/action.yaml
Due: none

revert to v6-build-push
  gh/build-push-action/action.yaml
Due: none

Make composite build-push action use full action names (#15)
  gh/build-push-action/action.yaml
  gh/setup-action/dist/index.js
  gh/setup-action/dist/index.js.map
  gh/setup-action/src/main.ts
Due: npm-bundle-setup-action

Be more clear on need of local context in the docs
  README.md
  docs/gh-actions/README.md
Due: none

Ignore labels and secrets
  internal/docker/parse_build.go
  internal/docker/parse_build_test.go
Due: go-fmt, go-vet, go-lint

bump version
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: none

Ignore labels and secrets for command hashing (#16)
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  internal/docker/parse_build.go
  internal/docker/parse_build_test.go
  scripts/sync-example-confirmer-to-real-example/index.js
Due: go-fmt, go-vet, go-lint

Naive implementation
  cmd/flags.go
  cmd/remember.go
  internal/cacher/registry.go
  internal/cacher/registry_test.go
  internal/configuration/configstruct.go
  internal/docker/remote.go
  internal/docker/remote_test.go
  internal/orchestration/actions/actions.go
  internal/orchestration/actions/cache.go
  internal/orchestration/actions/docker.go
  internal/orchestration/orchestrator/orchestrator_test.go
  internal/orchestration/orchestrator/remember_forget.go
Due: go-fmt, go-vet, go-lint

get rid of local cache
  cmd/cache.go
  cmd/flags.go
  cmd/forget.go
  cmd/remember.go
  internal/cacher/cacher.go
  internal/cacher/cacher_test.go
  internal/cacher/memory.go
  internal/configuration/configstruct.go
  internal/orchestration/actions/actions.go
  internal/orchestration/actions/cache.go
  internal/orchestration/actions/cache_test.go
  internal/orchestration/actions/docker.go
  internal/orchestration/actions/docker_test.go
  internal/orchestration/orchestrator/cache.go
  internal/orchestration/orchestrator/cache_forget.go
  internal/orchestration/orchestrator/orchestrator_test.go
  internal/orchestration/orchestrator/remember_forget.go
Due: go-fmt, go-vet, go-lint

working tests and it
  internal/cacher/registry.go
  internal/docker/republish.go
  internal/docker/republish_test.go
  internal/docker/retag.go
  internal/docker/retag_test.go
  internal/orchestration/actions/actions.go
  internal/orchestration/actions/docker.go
  internal/orchestration/orchestrator/orchestrator_test.go
  internal/orchestration/orchestrator/remember_forget.go
  tests-integration/command_creator.py
  tests-integration/docker.py
  tests-integration/run_tests.py
  tests-integration/templates/docker-bake.hcl
  tests-integration/test_setup.py
Due: go-fmt, go-vet, go-lint

remove more cache refs
  .mise-tasks/init/node
  .pre-commit-config.yaml
  README.md
  docs/gh-actions/README.md
  gh/build-push-action/action.yaml
  gh/cache-action/.gitattributes
  gh/cache-action/.prettierignore
  gh/cache-action/.prettierrc.yml
  gh/cache-action/.tool-versions
  gh/cache-action/README.md
  gh/cache-action/action.yml
  gh/cache-action/dist/index.js
  gh/cache-action/dist/index.js.map
  gh/cache-action/eslint.config.mjs
  gh/cache-action/jest.config.js
  gh/cache-action/package.json
  gh/cache-action/rollup.config.ts
  gh/cache-action/src/index.ts
  gh/cache-action/src/main.ts
  gh/cache-action/tsconfig.base.json
  gh/cache-action/tsconfig.eslint.json
  gh/cache-action/tsconfig.json
  gh/cache-action/yarn.lock
  go.mod
  go.sum
  internal/hasher/strings.go
  internal/hasher/strings_test.go
  scripts/sync-example-confirmer-to-real-example/index.js
Due: npm-bundle-cache-action, go-fmt, go-vet, go-lint

more cache cleanups
  .github/workflows/example-confirmer.yml
  cmd/remember.go
  docs/gh-actions/example-github-action.yml
  gh/setup-action/README.md
  gh/setup-action/action.yml
  gh/setup-action/dist/index.js
  gh/setup-action/dist/index.js.map
  gh/setup-action/src/main.ts
  scripts/sync-example-confirmer-to-real-example/index.js
Due: npm-bundle-setup-action, sync-example-confirmer, go-fmt, go-vet, go-lint

Set mimosa-cache-hit output
  gh/.almost-original-build-push-action/action.yml
Due: none

Code smell fix
  internal/cacher/registry.go
  tests-integration/run_tests.py
Due: go-fmt, go-vet, go-lint

Remove docker login for unit tests
  .github/workflows/main.yml
Due: none

coverage
  internal/cacher/registry_test.go
  internal/docker/remote_test.go
  internal/orchestration/actions/docker_test.go
Due: go-fmt, go-vet, go-lint

enforce --push argument
  internal/docker/retag.go
  internal/orchestration/orchestrator/orchestrator_test.go
  internal/orchestration/orchestrator/remember.go
Due: go-fmt, go-vet, go-lint

Path conditions:
  npm-bundle-setup-action: any of: ^gh/setup-action(/src)?/
  npm-bundle-cache-action: any of: ^gh/cache-action(/src)?/
  sync-example-confirmer: any of: ^\.github/workflows/example-confirmer\.yml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-lint: any of: \.go$
