Repository hytromo/mimosa: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-bundle-setup-action, npm-bundle-cache-action, sync-example-confirmer, go-fmt, go-vet, go-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: npm-bundle-setup-action
        name: Run npm bundle in gh/setup-action
        entry: bash -c 'cd gh/setup-action && mise exec -- npm run bundle'
        language: system
        files: ^gh/setup-action(/src)?/

      - id: npm-bundle-cache-action
        name: Run npm bundle in gh/cache-action
        entry: bash -c 'cd gh/cache-action && mise exec -- npm run bundle'
        language: system
        files: ^gh/cache-action(/src)?/

      - id: sync-example-confirmer
        name: Sync the real confirmer to the example
        entry: mise exec -- node scripts/sync-example-confirmer-to-real-example/index.js
        language: system
        files: ^\.github/workflows/example-confirmer\.yml$

      - id: go-fmt
        name: Go fmt
        entry: mise exec -- go fmt ./...
        language: system
        pass_filenames: false
        files: \.go$

      - id: go-vet
        name: Go vet
        entry: mise exec -- go vet ./...
        language: system
        pass_filenames: false
        files: \.go$

      - id: go-lint
        name: Go lint
        entry: mise exec -- golangci-lint run --fix
        language: system
        pass_filenames: false
        files: \.go$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
    - id: shellcheck

Remove unneeded shell script for bundling
  .pre-commit-config.yaml
  scripts/bundle-gh-action.sh
Due: none

Prevent persisting the value if it doesn't change
  gh/cache-action/dist/index.js
  gh/cache-action/dist/index.js.map
  gh/cache-action/src/main.ts
Due: npm-bundle-cache-action

Debug action saving
  gh/cache-action/dist/index.js
  gh/cache-action/dist/index.js.map
  gh/cache-action/src/main.ts
Due: npm-bundle-cache-action

Revert
  gh/cache-action/dist/index.js
  gh/cache-action/dist/index.js.map
  gh/cache-action/src/main.ts
Due: npm-bundle-cache-action

Add dry run
  README.md
  cmd/mimosa/main.go
  internal/argsparser/argsparser.go
  internal/cacher/cacher.go
  internal/configuration/configstruct.go
  internal/docker/command.go
  internal/docker/retag.go
  internal/hasher/files.go
Due: go-fmt, go-vet, go-lint

Add cache purge option
  README.md
  cmd/mimosa/main.go
  internal/argsparser/argsparser.go
  internal/configuration/configstruct.go
Due: go-fmt, go-vet, go-lint

Add mimosa forget
  README.md
  cmd/mimosa/main.go
  internal/argsparser/argsparser.go
  internal/cacher/cacher.go
  internal/configuration/configstruct.go
  internal/docker/command.go
Due: go-fmt, go-vet, go-lint

tiny readme improvement
  README.md
Due: none

Add usage for each subcommand
  internal/argsparser/argsparser.go
Due: go-fmt, go-vet, go-lint

Tool improvements (#4)
  .github/workflows/main.yml
  .gitignore
  .goreleaser.yml
  .pre-commit-config.yaml
  .tool-versions
  README.md
  cmd/mimosa/main.go
  gh/cache-action/README.md
  gh/cache-action/action.yml
  gh/cache-action/dist/index.js
  gh/cache-action/dist/index.js.map
  gh/cache-action/package-lock.json
  gh/cache-action/src/main.ts
  gh/cache-action/yarn.lock
  gh/setup-action/README.md
  gh/setup-action/dist/index.js
  gh/setup-action/dist/index.js.map
  gh/setup-action/package-lock.json
  gh/setup-action/src/main.ts
  gh/setup-action/yarn.lock
  internal/argsparser/argsparser.go
  internal/cacher/cacher.go
  internal/cacher/memory.go
  internal/configuration/configstruct.go
  internal/docker/command.go
  internal/docker/republish.go
  internal/docker/retag.go
  internal/hasher/files.go
  internal/hasher/strings.go
  internal/utils/fileutil/fileutil.go
  mise.toml
  pyproject.toml
  scripts/sync-example-confirmer-to-real-example/index.js
  uv.lock
Due: npm-bundle-setup-action, npm-bundle-cache-action, go-fmt, go-vet, go-lint

Filter non-semantic tag pushes
  .github/workflows/main.yml
Due: none

Update docs to point to v0.0.9
  README.md
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: none

Fix typo
  README.md
Due: none

Fix typos
  README.md
Due: none

A few more badges
  README.md
Due: none

argsparser tests
  internal/argsparser/argsparser.go
  internal/argsparser/argsparser_test.go
  internal/utils/fileutil/fileutil.go
Due: go-fmt, go-vet, go-lint

fileutil test
  internal/utils/fileutil/fileutil.go
  internal/utils/fileutil/fileutil_test.go
Due: go-fmt, go-vet, go-lint

more tests
  internal/hasher/files_test.go
  internal/hasher/strings_test.go
Due: go-fmt, go-vet, go-lint

Add cacher test
  internal/cacher/cacher.go
  internal/cacher/cacher_test.go
Due: go-fmt, go-vet, go-lint

Add memory tests
  internal/cacher/memory.go
  internal/cacher/memory_test.go
Due: go-fmt, go-vet, go-lint

Add go-test precommit
  .pre-commit-config.yaml
Due: none

Add logging tests
  cmd/mimosa/main.go
  internal/logger/init.go
  internal/logger/init_test.go
Due: go-fmt, go-vet, go-lint

Included files improvements
  internal/cacher/cacher.go
  internal/docker/included_files.go
  internal/docker/included_files_test.go
Due: go-fmt, go-vet, go-lint

command test improve context path detection
  internal/docker/command.go
  internal/docker/command_test.go
Due: go-fmt, go-vet, go-lint

Retag testing
  internal/docker/remote.go
  internal/docker/retag.go
  internal/docker/retag_test.go
Due: go-fmt, go-vet, go-lint

Add codecov
  .github/workflows/main.yml
  README.md
Due: none

Login to dockerhub before testing
  .github/workflows/main.yml
Due: none

Fix invalid dockerfile detection
  internal/docker/command.go
Due: go-fmt, go-vet, go-lint

Update to 0.0.10
  README.md
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  scripts/sync-example-confirmer-to-real-example/index.js
Due: none

Add codecov badge
  README.md
Due: none

Increase code coverage (#5)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  README.md
  cmd/mimosa/main.go
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  internal/argsparser/argsparser.go
  internal/argsparser/argsparser_test.go
  internal/cacher/cacher.go
  internal/cacher/cacher_test.go
  internal/cacher/memory.go
  internal/cacher/memory_test.go
  internal/docker/command.go
  internal/docker/command_test.go
  internal/docker/included_files.go
  internal/docker/included_files_test.go
  internal/docker/remote.go
  internal/docker/retag.go
  internal/docker/retag_test.go
  internal/hasher/files_test.go
  internal/hasher/strings_test.go
  internal/logger/init.go
  internal/logger/init_test.go
  internal/utils/fileutil/fileutil.go
  internal/utils/fileutil/fileutil_test.go
  scripts/sync-example-confirmer-to-real-example/index.js
Due: go-fmt, go-vet, go-lint

Fix issue with newlines
  README.md
Due: none

Remove license
  LICENSE
Due: none

Add MIT license
  LICENSE
Due: none

Add version subcommand
  README.md
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  internal/argsparser/argsparser.go
  scripts/sync-example-confirmer-to-real-example/index.js
Due: go-fmt, go-vet, go-lint

Add version subcommand (#7)
  README.md
  docs/gh-actions/README.md
  docs/gh-actions/example-github-action.yml
  internal/argsparser/argsparser.go
  scripts/sync-example-confirmer-to-real-example/index.js
Due: go-fmt, go-vet, go-lint

Add gcp test
  .github/workflows/gcp.yml
  internal/docker/command.go
Due: go-fmt, go-vet, go-lint

Add matrix for e2e tests
  .github/workflows/gcp.yml
  .github/workflows/main.yml
Due: none

typo
  .github/workflows/main.yml
Due: none

upgrade download-artifact
  .github/workflows/main.yml
Due: none
